:root {
    --color-dark: #000000;
    --color-unimatefinn: #2F5F9E;
    --color-white: #FCF7F7 --transition: .5s;
}

body {
    font-family: "Poppins", sans-serif;
}

h2 {
    font-family: "Arvo", sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

ul,
ol {
    list-style: none;
}

i {
    font-size: 3.5rem;
}

a {
    color: var(--color-dark);
    text-decoration: none;
    transition: var(--transition);
}

img {
    max-width: 90%;
    border-radius: .7rem;
    object-fit: cover;
    object-position: center center;
}

a:hover {
    color: var(--color-unimatefinn);
    font-weight: bold;

}

.header-page {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    text-wrap: wrap;
}

.header-page img {
    max-width: 80px;
}

.header-page h1 {
    transition: var(--transition);
}

.header-page h1,
img {
    margin: 2rem;
}

.header-page h1:hover {
    transition: var(--transition);
    color: var(--color-unimatefinn);
}

.menu {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0 1.5rem 0 0;
    flex-wrap: wrap;
}

.menu ol {
    display: flex;
    gap: 1.5rem;
}

.home {
    padding: 3rem;
    display: flex;
    align-items: center;
    gap: 4rem;
    background-color: var(--color-unimatefinn);
}

.home h2 {
    font-weight: 800;
    font-size: 4rem;
    text-align: center;
}

.conteudo {
    /* width: 50%; */
    /* NÃO CONSEGUIMOS DIMINUIR O TAMANHO DA IMAGEM/SESSÃO */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}


.conteudo p,
h2 {
    text-align: center;
    justify-content: center;
}

.conteudo p {
    font-size: 2rem;
}

.imagem-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1.5rem;
}

.imagem-principal img {
    min-height: 300px;
    width: 80%;
    object-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}

.sobre {
    min-height: 50vh;
    text-align: center;
    padding: 45px 30px;
    position: relative;

}

.sobre h2 {
    font-size: 3rem;
    font-family: "Arvo";
    font-weight: 900;
}

.sobre p {
    padding-bottom: 1rem;
    font-size: 1.8rem;

}

.caixa:nth-child(2):before {
    content: url(../images/linha.svg);
    position: absolute;
    height: 20px;
    top: 40%;
    left: 16%;
    transform: translateY(-50%);
    transform: translateX(17%);
}

.caixa:nth-child(2):after {
    content: url(../images/linha.svg);
    position: absolute;
    height: 20px;
    top: 40%;
    left: 47%;
    transform: translateY(50%);
    transform: translateX(17%);
}

.caixa:first-child::before,
.caixa:last-child::after {
    display: none;
}

.sobre h2 {
    padding-bottom: 2.5rem;
}

.espacoIcones {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.caixa {
    width: 30%;


}

.caixa h4 {
    font-size: 1.5rem;
}

.icones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 1.5rem;
    text-align: center;
}

.icones p {
    line-height: 1.6;
    font-size: 1.4rem;
    text-align: center;
}

.armas {
    background-color: var(--color-unimatefinn);
    min-height: 50vh;
    padding: 4rem 2rem 5rem 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto-fit);
    gap: 1rem;
    font-size: 1.8rem;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.text1 {
    grid-column: 2/4;
}

.image2 {
    grid-column: 3/4;
    grid-row-start: 2;
}

.text2 {
    grid-row-start: 2;
    grid-column: 1/3;
}

.image3 {
    grid-row-start: 3;
}

.text3 {
    grid-row-start: 3;
    grid-column: 2/4;
}

.text1,
.text2,
.text3 {
    font-weight: 500;
    font-size: 2rem;
}

.image1,
.image2,
.image3 {
    display: flex;
    justify-content: center;
}

.componentes {
    min-height: 40vh;
    width: 90%;
    margin: auto;
    margin-top: 6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-size: 1.6rem;
    text-wrap: wrap;
}

.hardware {
    width: 90%;
    margin-top: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.componentes h2 {
    font-weight: 900;
}

.hardware button {
    font-size: 2.5rem;
}

/* seção slides */
.robo-montagem {
    margin-top: 5rem;
    width: 60%;
    margin: auto;
    min-height: 50vh;
}

.robo-montagem h2 {
    margin-top: 3rem;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.robo-montagem a {
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--color-dark);
    padding: auto;
    margin: auto;
    background-color: var(--color-unimatefinn);
    transition: var(--transition);
}

.robo-montagem img {
    height: 550px;
    object-position: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
        0 6px 20px rgba(0, 0, 0, 0.19);
}

.carousel-item {
    position: relative;
    overflow: hidden;
}

.carousel-item img {
    object-fit: contain;
    width: 80%;
}


.video {
    min-height: 60vh;
    background-color: var(--color-unimatefinn);
    margin-top: 6rem;
}

.video div {
    text-align: center;
    padding-top: 3rem;
    font-size: 1.6rem;
}

.video h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

.videos-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    justify-content: center;
    gap: 2rem;
}


.video iframe {
    margin-bottom: 4rem;
    width: 60%;
}


.competicao {
    background-color: var(--color-unimatefinn);
    min-height: 60vh;
    padding: 4rem 2rem;

    font-size: 1.5rem;
}

.competicao h2 {
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

.cards-competicao {
    max-width: 1500px;
    padding: 1.5rem;
    display: grid;
    gap: 2rem;

    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin-top: 4rem;
    margin-bottom: 3rem;
    align-content: center;
    justify-content: center;
}

.cards-competicao h3 {
    font-size: 1.8rem;
    font-weight: 900;
    transition: color var(--transition) ease, transform var(--transition) ease;
}

.cards-competicao h3:hover {

    transform: scale(1.05);
}

.robocup,
.next {
    background-color: #0a4593;
    padding: 15px 15px 40px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: first baseline;
    gap: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.robocup {
    transition: var(--transition);
}

.next {
    transition: var(--transition);
}

.robocup:hover {
    transition: var(--transition);
    transform: translateY(-10px);
    scale: 1.05;
    color: #0b1625;
    font-weight: 900;
}

.next:hover {
    transition: var(--transition);
    transform: translateY(-10px);
    scale: 1.05;
    color: #0b1625;
    font-weight: 900;
}

.robocup img,
.next img {
    max-height: 300px;
    object-fit: contain;
    border-radius: 5px;
    overflow: hidden;

}



@media(max-width:1280px) {

    .caixa:nth-child(2):before,
    .caixa::after {
        display: none;
    }
}

.integrantes {
    max-width: 1500px;
    margin: auto;
    padding: 1.5rem;

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    margin-top: 4rem;
    margin-bottom: 3rem;
}

.card {
    background-color: var(--color-white);
    padding: 15px 15px 40px 15px;
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.card:hover {
    scale: 1.1;
    transition: var(--transition);
    overflow: hidden;
    cursor: pointer;
    background-color: var(--color-unimatefinn);
}

.image-card {
    max-width: 300px;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.image-card img {
    object-fit: cover;
    display: block;
    position: absolute;
}

.contato {
    background-color: var(--color-unimatefinn);
    min-height: 45vh;

    font-size: 1.4rem;
    text-align: center;
}

.contato h2 {
    padding-top: 3rem;
    font-weight: 800;
    font-size: 1.8rem;
}

.contato label {
    font-size: 1.4rem;
}

.contato button {
    padding: .8rem 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    font-weight: 500;
    font-size: 1.4rem;
    transition: var(--transition);

}

.contato button:hover {
    background-color: var(--color-unimatefinn);
    color: aqua;
    transform: translateY(-.8rem);
}

footer {
    background-color: var(--color-white);
}

.espaco-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 5rem;
    gap: 3rem;
}

.espaco-footer img {
    max-width: 150px;
    height: auto;
    display: flex;
    margin: auto;
}

.sobre-nos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .5rem;
    font-size: 1.2rem;
    line-height: 1.3;
}

.sobre-nos h4 {
    font-weight: 900;
    color: var(--color-unimatefinn);
}

.contato-rodape {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .5rem;
}

.contato-rodape ol {
    padding-left: 0;
}

.contato-rodape h4 {
    font-weight: 900;
    color: var(--color-unimatefinn);
}

.contato-rodape li {
    font-size: 1.3rem;
}

.rodape-icones a {
    color: var(--color-unimatefinn);
    transition: var(--transition);
}

.rodape-icones i:hover {
    transform: translateY(-3px);
    transition: var(--transition);
}

.rodape-infos {
    display: flex;
    flex-direction: column;
    gap: .5rem
}

.rodape-infos h4 {
    font-weight: 900;
    color: var(--color-unimatefinn);
}

.rodape-infos li {
    font-size: 1.3rem;
}

.rodape-infos ol {
    padding-left: 0;
}

@media(max-width:1145px) {
    .videos-links {
        grid-template-columns: 1fr;
    }

    .competicao {
        padding: 3rem 1.5rem;

    }

    .cards-competicao {
        gap: 1.5rem;

    }

    .cards-competicao h3 {
        font-size: 1.6rem;
    }
}

@media(max-width:750px) {
    .home {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .armas {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        width: 100%;
        gap: .5rem;
    }

    .image1 {
        grid-column: 2/3;
        grid-row-start: 1;
    }

    .text1 {
        grid-column: 2/3;
        grid-row-start: 2;
    }

    .image2 {
        grid-column: 2/3;
        grid-row-start: 3;
    }

    .text2 {
        grid-column: 2/3;
        grid-row-start: 4;
    }

    .image3 {
        grid-column: 2/3;
        grid-row-start: 5;
    }

    .text3 {
        grid-column: 2/3;
        grid-row-start: 6;
    }

    .text1,
    .text2,
    .text3 {
        text-wrap: wrap;
        margin: auto;
        font-size: 1.8rem;
        text-align: center;
    }

    .image1,
    .image2,
    .image3 {
        width: 90%;
        margin: auto;
        align-content: end;
    }

    .cards-competicao {
        grid-template-columns: 1fr;
    }

    .competicao h2 {
        font-size: 2.5rem;
    }

    .integrantes {
        grid-template-columns: repeat(1, 1fr);
    }

    .integrantes h3 {
        font-size: 1.8rem;
        font-weight: 700;
    }

    .integrantes p {
        font-size: 1.5rem;
    }

    .espaco-footer {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }

    .espaco-footer img {
        max-width: 95px;
        margin-bottom: 1rem;
    }
}

@media(max-width:1100px) {
    .header-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header-page h1,
    img {
        margin: 0;
    }

    .menu {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

}

@media(max-width: 530px) {
    .espacoIcones {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .caixa {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: .5rem;
    }

    .competicao {
        padding: 2rem 1rem;
    }

    .competicao h2 {
        font-size: 2rem;
    }

    .cards-competicao h3 {
        font-size: 1.4rem;
    }

}

@media(max-width:370px) {
    .header-page {
        font-size: 1.1rem;
        text-wrap: wrap;
        gap: 5px;
    }

    .menu {
        font-size: 1rem;
    }

    .espacoIcones {
        flex-direction: column;
        align-items: center;
    }

}